{#<div>Print Cost - Currently using a cost of $<input type="number" class="input-small" data-bind="value: newCost"> per meter</div>#}
{#<table class="table table-striped table-hover table-condensed table-hover" style="clear: both;">#}
{#	<tr>#}
{#		<th style="width: 40%;">Filename</th>#}
{#		<th style="width: 20%">Print Time</th>#}
{#		<th style="width: 20%">Filament Usage</th>#}
{#		<th style="width: 20%">Cost</th>#}
{#	</tr>#}
{#	<tbody>#}
{#		<tr>#}
{#			<td>Filename</td>#}
{#			<td>Print Time</td>#}
{#			<td>Filament Usage</td>#}
{#			<td>Cost</td>#}
{#		</tr>#}
{#	</tbody>#}
{#</table>#}

<div class="input-append">
	<input type="text" class="input-xxlarge" data-bind="value: newUrl">
	<button class="btn btn-primary" data-bind="click: goToUrl">{{ _('Go') }}</button>
</div>


<iframe data-bind="attr: {src: currentUrl}" style="width: 100%; height: 600px; border: 1px solid #808080"></iframe>
