<div>Print Cost - Currently using a cost of $<input type="number" step="any" class="input-small" data-bind="value: newCost"> per meter</div>
<table class="table table-striped table-hover table-condensed table-hover" style="clear: both;">
	<tr>
		<th style="width: 40%;">Filename</th>
		<th style="width: 20%">Print Time</th>
		<th style="width: 20%">Filament Usage</th>
		<th style="width: 20%">Cost</th>
	</tr>
	<tbody data-bind="foreach: listHelper.paginatedItems">
		<tr>
			<td>
				<span data-bind="text: fileName, attr: { title: fileName }"></span>
				<a href="#" class="icon-pencil" data-bind="editable: note, editableOptions: {display: false, pk: key, url: 'plugin/printhistory/savenote', success: $root.requestData, error: function(){alert('grr')}}, visible: $root.loginState.isUser() && !$root.isPrinting()" title="Add/edit note"></a>
				<div class="printhistory-note"><small data-bind="text: note"></small></div>
			</td>
			<td style="text-align: center;" data-bind="text: formatDuration(printTime)"></td>
			<td style="text-align: center;" data-bind="html: filamentUsage"></td>
			<td style="text-align: center;" data-bind="html: filamentCost"></td>
		</tr>
	</tbody>
</table>

{#<div class="input-append">#}
{#	<input type="text" class="input-xxlarge" data-bind="value: newUrl">#}
{#	<button class="btn btn-primary" data-bind="click: goToUrl">{{ _('Go') }}</button>#}
{#</div>#}
{##}
{##}
{#<iframe data-bind="attr: {src: currentUrl}" style="width: 100%; height: 600px; border: 1px solid #808080"></iframe>#}
